.page {
  width: 350px;
  height: 500px;
  background-color: #D3D0CB
}

#article_title {
  font-family: 'Anton', monospace;
  letter-spacing: 3px;
  color: #461220
}

#intro {
  font-family: 'Oswald', monospace;
  color: #8C2F39
}

.question{
  margin-bottom: 1px;
  font-family: 'Railway', monospace;
  color: #4C5760
}

.answer{
  margin-top: 1px;
  font-family: 'Railway', monospace;
  font-weight: 100;
  color: #4C5760
}

#block_quote {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
  border-left: 2px solid black;
  margin-left: 80px;
  height: 50px;
  font-family: 'Oswald', monospace;
  font-size: medium;
  color:darkred
}
